my-ws-client/src/com/zwq/demo/webservice/client/SyncOrgStructService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.midsync.sync.plugs.cmail.richinfo.cn" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://service.midsync.sync.plugs.cmail.richinfo.cn" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.midsync.sync.plugs.cmail.richinfo.cn">
<xsd:element name="syncOrgStruct">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="syncOrgStructResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="syncOrgStructRequest">
    <wsdl:part name="parameters" element="tns:syncOrgStruct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="syncOrgStructResponse">
    <wsdl:part name="parameters" element="tns:syncOrgStructResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SyncOrgStructServicePortType">
    <wsdl:operation name="syncOrgStruct">
      <wsdl:input name="syncOrgStructRequest" message="tns:syncOrgStructRequest">
    </wsdl:input>
      <wsdl:output name="syncOrgStructResponse" message="tns:syncOrgStructResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SyncOrgStructServiceHttpBinding" type="tns:SyncOrgStructServicePortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="syncOrgStruct">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="syncOrgStructRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="syncOrgStructResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SyncOrgStructService">
    <wsdl:port name="SyncOrgStructServiceHttpPort" binding="tns:SyncOrgStructServiceHttpBinding">
      <wsdlsoap:address location="http://www.test108.thinkmail.com/webadmin/webservice/SyncOrgStructService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
